@using BookLibrary.Domain.Entities
@model  List<History>

@{
    ViewBag.Title = "ShowHistory";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    @if (Model.Count > 0)
    { 
    <label>History for @Model[0].BookTitle</label>
    <table>
        <tr>
            <td>User Name</td>
            <td>Date of taking book</td>
        </tr>
        @foreach (var entity in Model)
        {
            <tr>
                <td>@entity.UserName</td>
                <td>@entity.Date</td>
            </tr>
        }
    </table>
    }
    else
    {
         <label>This book doesn't have history</label>
    }
    <input type="button" id="backToList" value="Back to Library" />
</div>
